
	<div class="jumbotron">
        <h1 
        class="text-center" translate="List">List</h1>

       <div class="table-responsive">
       	
   

		<table class="table table-striped table-hover" >
			  <thead>
			    <tr>
					<th translate="Name" >Emri</th>
					<th translate="Surname">Mbiemri</th>
					<th translate="Db">Datlindja</th>
					<th translate="Country">Vendi</th>
					<th translate="Edit">Edit</th>
					<th translate="Remove">Remove</th>
			    </tr>
			  </thead>
			  <tbody ng-repeat="data in vm.Userat track by $index" >
				 	<tr >
						<td> {{data.myEmri}} 	</td>
						<td> {{data.myMbiemri}}   </td>
						<td> {{data.myDatlindja | date:format:'mm/dd/yyyy'}} 	</td>
						<td> {{data.myVendi}} 	</td>

						<td> <button ng-click="vm.goEdit(data)"  class="btn btn-primary" translate="Edit"> Edit </button></td>
						
						<td> <button ng-click="vm.removeData(data)" class="btn btn-primary" ><span class="glyphicon glyphicon-trash"></span> </button></td>
					</tr>

				</tbody>			
		</table>
</div>
</div>
	
